@media only screen and (max-width: 1370px) {
    .question {
        margin-top: 2%;
        padding: 3%;
    }
    h1{
        font-size: 65px;
        line-height: 65px;
    }
    h2 {
        font-size: 42px;
        line-height: 47px;
    }
    h3 {
        font-size: 20px;
    }
    .quoteHere {
        padding: 4% 10% 2% 10%;
    }
    footer {
        margin-top: 2%;
    }
}


@media only screen and (max-width: 768px) {
    .question {
        margin-top: 15%;
    }
    h1{
        font-size: 60px;
        line-height: 60px;
    }
    h2 {
        font-size: 38px;
        line-height: 42px;
    }

}